.btn-content-approval {
    white-space: nowrap;
}

.btn-group-approval {
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 4px;

    .status {
        width: 100%;
        min-width: 200px;
        line-height: 38px;
        margin-left: 6px;
    }
    .dropdown-menu {
        left: auto!important;
        right: 0px!important;
    }
}
